<tr>
  <td>
    <h4> Products </h4>
  </td>
  <td>
    <%= link_to 'Link', admin_products_path %>
  </td>
  <td>
    <%= @products %>
  </td>
</tr>
<tr>
  <td>
    <h4> Categories </h4>
  </td>
  <td>
    <%= link_to 'Link', '/categories/1' %>
  </td>
  <td>
    <%= @categories %>
  </td>
</tr>