<tr>
  <td>
    <h4> Products </h4>
  </td>
  <td>
    <%= @products %>
  </td>
  <td>
    <%= @products %>
  </td>
</tr>
<tr>
  <td>
    <h4> Categories </h4>
  </td>
  <td>
    <%= @categories %>
  </td>
  <td>
    <%= @products %>
  </td>
</tr>