<div class="panel panel-default products">

    <table class="table table-bordered">
      <thead>
        <tr>
          <th colspan="2">Name</th>
          <th>Total Num</th>
        </tr>
      </thead>
      <tbody>
      <%= render 'item' %>
      </tbody>
    </table>

  </div>



  