<section class="admin-products-index">

  <header class="page-header">
    <h1>Admin &raquo; Counts</h1>
  </header>



  <div class="panel panel-default products">

      <table class="table table-bordered">
        <thead>
          <tr>
            <th colspan="2">Name</th>
            <th>Total Num</th>
          </tr>
        </thead>
        <tbody>
        <%= render 'item' %>
        </tbody>
      </table>

    </div>

  </section>



  